.Header {
  width: 1280px;
  margin: 0 auto;
  height: 65px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
  background-color: white;
  position: fixed;
  top:0;
  left:35px;
}

.Header_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  margin: 0 auto;
}
.Header_logo {
  width: 85%;
  margin-left: 10px;
}

.Header_cartInfo {
  width: 200px;
  margin-right: 10px;
}
