.CartInfo {
    width: 100%;
  }
.CartInfo_click {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}

@media only screen and (max-width: 560px) {
    .CartInfo_click {
        justify-content: flex-start;
        margin-left: 10px;
    }
    .CartInfo_click_info {
        margin-left: 30px;
    }
  }

.CartInfo_click_name {
    color: rgb(255, 165, 0);
    font-size: 16px;
}

.CartInfo_click_name:hover {
    text-decoration: underline;
}