.CartInfo_click {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}

.CartInfo_click_name {
    color: rgb(255, 165, 0);
    font-size: 16px;
}

.CartInfo_click_name:hover {
    text-decoration: underline;
}