.Rainbow
{
  position: relative;
  width: 400px;
  height: 200px;

}

.RainbowContent
{
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  font-size: 32px;
  font-weight: bold;
}
