.Page_Home {
    width: 95%;
    margin: 80px auto 0;
    background-color: white;
}
.Page_Home_wrapper{
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    
}

.Page_Home_block {
    width: 33.333333%;
    height: 340px;
    border: 1px solid rgb(241, 241, 241)
}

@media only screen and (max-width: 560px) {
    .Page_Home_block {
        width: 100%;
    }
  }

.Page_Home_block:hover {
    border: 1px solid rgb(41, 41, 41)
}

.Page_Home_item {
    height: 300px;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0 auto;
}

.Page_Home_avto {
    background-image: url(https://varta.by/storage/product_images/thumbs/rs_800x800/201708/cat_t1503417732r38475d.jpg);
}

.Page_Home_truck {
    margin-left: 50px;
    background-image: url(https://varta.by/storage/product_images/thumbs/rs_800x800/202102/cat_t1614168485r21407d.jpg);
}

.Page_Home_moto {
    background-image: url(https://varta.by/storage/product_images/thumbs/rs_800x800/201708/cat_t1503594256r250d90.jpg);
}

.Page_Home_itemName {
    text-align: center;
    font-size: 16px;
}
