.FilterWrapper {
    width: fit-content;
    display: flex;
    flex-direction: column;
}

.FilterOptions {
    margin-bottom: 7px;
}

.FilterField {
    margin-right: 5px;
}

.FilterWordsList {
    width: 90%;
}